html {
    height: 100%;
    background:#000000;
    color:#FFF700;
    font-size: small;
    font-family: "Arial black";
}


body {
    margin: 0 auto;
    padding: 0;
    border: 0;
    height:100%;
}

#mapid {
    height:100%;
    width:100%;
}
